# Confidence intervals

Based on https://www.statology.org/confidence-intervals-python/

In [8]:
# Libraries
import numpy as np
import pandas as pd
from datetime import datetime as dt
from scipy import stats

## Data preparation

In [9]:
# Read the input file
# Data extracted from DGT (Direccion General de Trafico) statistics and indicators webpage
# https://www.dgt.es/es/seguridad-vial/estadisticas-e-indicadores/matriculaciones-definitivas/tablas-estadisticas/
df_cars_brand = pd.read_csv('data/matriculacions_turismes_2020.txt',sep='\t',encoding='latin-1')

In [10]:
df_cars_brand.head(25)

,PROVINCIAS,A_BRUNS_LINDER,A.M.C.,AC_CARS,ACURA,ADRIA,ALFA_ROMEO,ALLIED_VEHICLES_LTD,ALPINA,ALPINE,...,VOLKNER,VOLKSWAGEN,VOLKSWAGEN_AG,VOLKSWAGEN_V_W,VOLVO,VW-PORSCHE,WESTFIELD,WIESMANN,WILLYS_OVERLAND,WILLYS_VIASA
0,Araba/Álava,0,0,0,0,0,10,0,0,0,...,0,289,0,18,157,0,0,0,0,0
1,Albacete,0,0,0,0,0,142,0,0,0,...,0,442,0,9,98,0,0,0,0,0
2,Alicante/Alacant,0,0,0,1,1,58,0,0,0,...,0,2439,0,9,298,0,0,0,0,0
3,Almería,0,0,0,0,0,6,0,0,0,...,1,733,2,35,150,0,0,0,0,0
4,Ávila,0,0,0,0,0,24,0,0,0,...,0,10,0,1,77,0,0,0,0,0
5,Badajoz,0,0,0,0,0,1,0,0,0,...,0,619,0,21,192,0,0,0,0,0
6,Balears (Illes),0,0,0,0,0,151,0,0,0,...,0,1482,0,2,97,0,0,0,0,0
7,Barcelona,0,0,0,0,7,400,0,0,6,...,0,8531,3,37,629,0,2,0,0,2
8,Burgos,0,0,0,0,0,28,0,0,0,...,0,357,0,5,91,0,0,0,0,0
9,Cáceres,0,0,0,0,0,1,0,0,0,...,0,304,0,11,57,0,0,0,0,0
10,Cádiz,0,0,0,4,0,18,0,0,0,...,0,1655,0,8,191,0,0,0,0,0
11,Castellón/Castelló,0,0,0,0,0,25,0,0,0,...,0,929,2,4,29,0,0,0,0,0
12,Ciudad Real,0,0,0,0,0,12,0,0,0,...,0,588,0,3,140,0,0,0,0,0
13,Córdoba,0,0,0,0,0,12,0,0,0,...,0,360,0,30,413,0,0,0,0,0
14,Coruña (A),0,0,0,0,0,53,0,0,0,...,0,621,9,142,212,0,0,0,0,0
15,Cuenca,0,0,0,0,0,2,0,0,0,...,0,59,0,8,12,0,0,0,0,0
16,Girona,0,0,0,0,0,39,0,1,0,...,1,1094,0,13,49,0,0,0,1,1
17,Granada,0,0,0,0,0,20,0,0,0,...,0,1550,0,15,136,0,0,0,0,0
18,Guadalajara,0,0,0,0,0,7,0,0,0,...,0,56,3,7,264,0,0,0,0,0
19,Gipuzkoa,0,0,0,0,0,12,13,1,0,...,0,1038,1,11,157,0,0,0,0,0
20,Huelva,0,0,0,0,0,2,0,0,0,...,0,111,0,8,14,0,0,0,0,0
21,Huesca,0,0,0,0,0,14,0,0,0,...,0,306,0,3,35,0,0,0,0,0
22,Jaén,0,0,0,0,0,27,0,0,0,...,0,540,1,12,101,0,0,0,0,0
23,León,0,0,0,0,0,12,0,0,0,...,0,528,2,5,98,0,0,0,0,0
24,Lleida,0,0,0,0,0,18,0,0,0,...,0,534,0,1,79,0,0,0,0,0

### Small sample (n <30)

If we’re working with a small sample (n <30), we can use the t.interval() function from the scipy.stats library to calculate a confidence interval for a population mean.

In [11]:
# We use data from only 28 provinces
data = df_cars_brand[df_cars_brand['PROVINCIAS']<='Lleida']['VOLKSWAGEN']

In [12]:
data.describe()

count      28.000000
mean      997.500000
std      1574.999718
min        56.000000
25%       344.250000
50%       603.500000
75%      1014.750000
max      8531.000000
Name: VOLKSWAGEN, dtype: float64

In [13]:
stats.t.interval(alpha=0.75, df=len(data)-1, loc=np.mean(data), scale=stats.sem(data))

(647.5730281926606, 1347.4269700577045)

In [14]:
stats.t.interval(alpha=0.99, df=len(data)-1, loc=np.mean(data), scale=stats.sem(data))

(172.81461529162118, 1822.185384708379)

### Larger samples (n≥30)

If we’re working with larger samples (n≥30), we can assume that the sampling distribution of the sample mean is normally distributed (thanks to the Central Limit Theorem) and can instead use the norm.interval() function from the scipy.stats library.

In [15]:
# We use data from all 52 provinces
data = df_cars_brand['VOLKSWAGEN']

In [16]:
data.describe()

count       52.000000
mean      1503.980769
std       4019.365141
min         10.000000
25%        286.750000
50%        603.500000
75%       1160.250000
max      28353.000000
Name: VOLKSWAGEN, dtype: float64

In [17]:
# 95% confidence interval
stats.norm.interval(alpha=0.95, loc=np.mean(data), scale=stats.sem(data))

(411.52495384248823, 2596.4365846190503)

In [18]:
# 99% confidence interval
stats.norm.interval(alpha=0.99, loc=np.mean(data), scale=stats.sem(data))

(68.25045770165184, 2939.7110807598865)