# Hypothesis Testing

We would like to know if the effects we see in the sample (observed data) are likely to occur in the population. 

The way classical hypothesis testing works is by conducting a statistical test to answer the following question:
> Given the sample and an effect, what is the probability of seeing that effect just by chance?

Here are the steps on how we would do this

1. Compute test statistic
2. Define null hypothesis
3. Compute p-value
4. Interpret the result

If p-value is very low (most often than now, below 0.05), the effect is considered statistically significant. That means that effect is unlikely to have occured by chance. The inference? The effect is likely to be seen in the population too. 

This process is very similar to the *proof by contradiction* paradigm. We first assume that the effect is false. That's the null hypothesis. Next step is to compute the probability of obtaining that effect (the p-value). If p-value is very low (<0.05 as a rule of thumb), we reject the null hypothesis.

Recommended lecture:
https://towardsdatascience.com/hypothesis-testing-in-machine-learning-using-python-a0dc89e169ce

In [2]:
# Libraries
import numpy as np
import pandas as pd
from datetime import datetime as dt
from scipy import stats

## Data preparation

In [3]:
# Read the input file
# Data extracted from DGT (Direccion General de Trafico) statistics and indicators webpage
# https://www.dgt.es/es/seguridad-vial/estadisticas-e-indicadores/matriculaciones-definitivas/tablas-estadisticas/
df_cars_brand = pd.read_csv('data/matriculacions_turismes_2020.txt',sep='\t',encoding='latin-1')

In [4]:
df_cars_brand.head()

,PROVINCIAS,A_BRUNS_LINDER,A.M.C.,AC_CARS,ACURA,ADRIA,ALFA_ROMEO,ALLIED_VEHICLES_LTD,ALPINA,ALPINE,...,VOLKNER,VOLKSWAGEN,VOLKSWAGEN_AG,VOLKSWAGEN_V_W,VOLVO,VW-PORSCHE,WESTFIELD,WIESMANN,WILLYS_OVERLAND,WILLYS_VIASA
0,Araba/Álava,0,0,0,0,0,10,0,0,0,...,0,289,0,18,157,0,0,0,0,0
1,Albacete,0,0,0,0,0,142,0,0,0,...,0,442,0,9,98,0,0,0,0,0
2,Alicante/Alacant,0,0,0,1,1,58,0,0,0,...,0,2439,0,9,298,0,0,0,0,0
3,Almería,0,0,0,0,0,6,0,0,0,...,1,733,2,35,150,0,0,0,0,0
4,Ávila,0,0,0,0,0,24,0,0,0,...,0,10,0,1,77,0,0,0,0,0

## Hypothesis testing

### One sample t-test

The One Sample t Test determines whether the sample mean is statistically different from a known or hypothesised population mean. The One Sample t Test is a parametric test.

- H0: average sales is = 0
- H1: average sales is <> 0

In [5]:
# We use data from sales of a brand in all provinces
data = df_cars_brand[df_cars_brand['PROVINCIAS']<='Lleida']['ADRIA']
#data = df_cars_brand[df_cars_brand['PROVINCIAS']<='Lleida']['VOLKSWAGEN']

In [6]:
data.describe()

count    28.000000
mean      0.285714
std       1.329359
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       7.000000
Name: ADRIA, dtype: float64

In [7]:
print(data)
data_mean = np.mean(data)
print(data_mean)
tset, pval = stats.ttest_1samp(data, 0)
print("p-values",pval)
alpha = 0.05

if pval < alpha:    # alpha value is 0.05 or 5%
    print("We reject null hypothesis with confidence {}".format(1-alpha))
else:
    print("We don't reject null hypothesis with confidence {}".format(1-alpha))

0     0
1     0
2     1
3     0
5     0
6     0
7     7
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
32    0
38    0
47    0
50    0
Name: ADRIA, dtype: int64
0.2857142857142857
p-values 0.2654124768964152
We don't reject null hypothesis with confidence 0.95

### Two sampled t-test

Two sampled T-test :-The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test.

- H0: average sales of brand 1 = average sales of brand 2
- H1: average sales of brand 1 <> average sales of brand 2

In [8]:
# We use data from all 52 provinces
data1 = df_cars_brand['VOLVO']
data2 = df_cars_brand['ALFA_ROMEO']

In [9]:
print(data1.describe())
print(data2.describe())

count      52.000000
mean      236.403846
std       714.574582
min         0.000000
25%        65.500000
50%        99.500000
75%       165.500000
max      5204.000000
Name: VOLVO, dtype: float64
count     52.000000
mean      56.019231
std      139.562832
min        0.000000
25%        2.000000
50%       17.500000
75%       33.500000
max      881.000000
Name: ALFA_ROMEO, dtype: float64

In [10]:
ttest,pval = stats.ttest_ind(data1,data2)
print("p-value",pval)
alpha = 0.05

if pval < alpha:    # alpha value is 0.05 or 5%
    print("We reject null hypothesis with confidence {}".format(1-alpha))
else:
    print("We don't reject null hypothesis with confidence {}".format(1-alpha))

p-value 0.07697490262545706
We don't reject null hypothesis with confidence 0.95

### Paired sampled t-test

The paired sample t-test is also called dependent sample t-test. It’s an uni variate test that tests for a significant difference between 2 related variables. An example of this is if you where to collect the blood pressure for an individual before and after some treatment, condition, or time point.

- H0: mean difference between two samples is 0
- H1: mean difference between two samples is not 0

In [11]:
# We use data from all 52 provinces
data1 = df_cars_brand['VOLVO']
data2 = df_cars_brand['ALFA_ROMEO']
print(data1.mean())
print(data2.mean())

236.40384615384616
56.01923076923077

In [12]:
ttest,pval = stats.ttest_rel(data1, data2)
print(pval)
alpha = 0.05

if pval < alpha:    # alpha value is 0.05 or 5%
    print("We reject null hypothesis with confidence {}".format(1-alpha))
else:
    print("We don't reject null hypothesis with confidence {}".format(1-alpha))

0.03358221107201263
We reject null hypothesis with confidence 0.95

In [13]:
# Note: paired two sampled test needs data from the two samples to be of the same length
data1 = df_cars_brand[df_cars_brand['PROVINCIAS']<='Lleida']['VOLVO']
data2 = df_cars_brand['ALFA_ROMEO']

ttest,pval = stats.ttest_rel(data1, data2)
print(pval)
alpha = 0.05

if pval < alpha:    # alpha value is 0.05 or 5%
    print("We reject null hypothesis with confidence {}".format(1-alpha))
else:
    print("We don't reject null hypothesis with confidence {}".format(1-alpha))

ValueError: unequal length arrays

## Exercises

- How does the parameter alpha affect the results?

- One sample t-test
  * Find a brand for which the one sample test with 95% cannot reject H0
  * Find a brand for which the one sample test with 95% can reject H0
  * Perform a one sample one sided t-test. Hint: look at the documentation of the function at https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html
  
- Two sample t-test
  * Find two brands for which the two sample t-test with 95% confidence cannot reject equality of means
  * Find two brands for which the two sample t-test with 95% confidence can reject equality of means is discarded

- Paired two sample t-test
  * Find two brands for which the paired two sample t-test with 95% confidence cannot reject equality of means
  * Find two brands for which the paired two sample t-test with 95% confidence can reject equality of means
  
- Two sample t-test and paired sampled t-test
  * Which are the differences between the two sample test and the paired two sample test?
  * Which one is more accurate?
  * Which one would you choose if possible?
  * Find two brands for which the two tests give the same result when comparing equality of means
  * Find two brands for which the two tests give a different result when comparing equality of means

In [20]:
# Helper code: list of brands and average sales per province
for c in df_cars_brand.columns[1:]:
    print("{}: \tAverage sales: {}".format(c, df_cars_brand[c].mean()))

A_BRUNS_LINDER: 	Average sales: 0.019230769230769232
A.M.C.: 	Average sales: 0.019230769230769232
AC_CARS: 	Average sales: 0.019230769230769232
ACURA: 	Average sales: 0.1346153846153846
ADRIA: 	Average sales: 0.19230769230769232
ALFA_ROMEO: 	Average sales: 56.01923076923077
ALLIED_VEHICLES_LTD: 	Average sales: 0.2692307692307692
ALPINA: 	Average sales: 0.057692307692307696
ALPINE: 	Average sales: 0.2692307692307692
ALPINE_RENAULT: 	Average sales: 0.038461538461538464
AMF_HARLEY_DAVIDSON: 	Average sales: 0.038461538461538464
APRILIA: 	Average sales: 0.019230769230769232
ARIEL: 	Average sales: 0.019230769230769232
ASTON_MARTIN: 	Average sales: 0.7884615384615384
AUDI: 	Average sales: 897.3269230769231
AUSTIN: 	Average sales: 0.057692307692307696
AUSTIN_MORRIS: 	Average sales: 0.019230769230769232
AUSTIN_ROVER: 	Average sales: 0.019230769230769232
AUSTIN-HEALEY: 	Average sales: 0.07692307692307693
AUTOMOBILI_LAMBORGHINI: 	Average sales: 0.8076923076923077
AUTONACIONAL: 	Average sales: 0.019230769230769232
AUTOUNION-DKW: 	Average sales: 0.019230769230769232
AVELING_BARFORD: 	Average sales: 0.34615384615384615
B.M._VOLVO_VIKING: 	Average sales: 0.09615384615384616
BAYER.MOT.WERKW-BMW: 	Average sales: 0.019230769230769232
BENTLEY: 	Average sales: 2.269230769230769
BESSIA_MOTORSPORT: 	Average sales: 0.019230769230769232
BISCUTER: 	Average sales: 0.019230769230769232
BMW: 	Average sales: 732.2115384615385
BMW_I: 	Average sales: 9.423076923076923
BOMBARDIER: 	Average sales: 0.019230769230769232
BUGATTI: 	Average sales: 0.019230769230769232
BUICK: 	Average sales: 0.09615384615384616
BWW: 	Average sales: 0.038461538461538464
C.M.C.: 	Average sales: 0.019230769230769232
CADILLAC: 	Average sales: 0.46153846153846156
CAPRON: 	Average sales: 0.019230769230769232
CAPRON_GMBH: 	Average sales: 0.019230769230769232
CARBODIES: 	Average sales: 0.019230769230769232
CATERHAM: 	Average sales: 0.019230769230769232
CBP: 	Average sales: 0.019230769230769232
CHALLENGER: 	Average sales: 0.019230769230769232
CHEVROLET: 	Average sales: 4.5576923076923075
CHRY: 	Average sales: 0.019230769230769232
CHRYSLER: 	Average sales: 1.9807692307692308
CHRYSLER_LLC_DODGE: 	Average sales: 0.057692307692307696
CHRYSLER_LLC_JEEP: 	Average sales: 0.057692307692307696
CITROEN: 	Average sales: 1146.5576923076924
CITROËN: 	Average sales: 0.3269230769230769
CLASSIC_CAR_WITTEK: 	Average sales: 0.019230769230769232
CORVETTE: 	Average sales: 0.019230769230769232
CUPRA: 	Average sales: 15.326923076923077
DACIA: 	Average sales: 854.9423076923077
DAEWOO: 	Average sales: 0.11538461538461539
DAIHATRA: 	Average sales: 0.019230769230769232
DAIHATSU: 	Average sales: 0.3269230769230769
DAIMLER: 	Average sales: 0.15384615384615385
DAIMLER_AG: 	Average sales: 0.21153846153846154
DAIMLER_BENZ_AG: 	Average sales: 0.019230769230769232
DAIMLER_CHRYSLER: 	Average sales: 0.21153846153846154
DAIMLERCHRYSLER_CO_JEEP: 	Average sales: 0.019230769230769232
DATSUN: 	Average sales: 0.019230769230769232
DE_SOTO: 	Average sales: 0.019230769230769232
DFSK: 	Average sales: 2.269230769230769
DODGE: 	Average sales: 1.9423076923076923
DR: 	Average sales: 1.8076923076923077
DREAMER: 	Average sales: 0.019230769230769232
DS: 	Average sales: 83.59615384615384
DUCATI: 	Average sales: 0.057692307692307696
DUTTON: 	Average sales: 0.019230769230769232
ERIBA-HYMER: 	Average sales: 0.019230769230769232
FERRARI: 	Average sales: 2.4038461538461537
FIAT: 	Average sales: 569.2307692307693
FORD: 	Average sales: 752.6923076923077
FORD_CNG_TECHNIK: 	Average sales: 22.48076923076923
FRANKLIN_AUTOMOBILE: 	Average sales: 0.019230769230769232
FRUA_PORSCHE: 	Average sales: 0.5769230769230769
GAMC: 	Average sales: 0.019230769230769232
GAZ: 	Average sales: 0.019230769230769232
GMC: 	Average sales: 0.11538461538461539
GOGGOMOBIL: 	Average sales: 0.019230769230769232
GREAT_WALL: 	Average sales: 0.019230769230769232
HOLMAN: 	Average sales: 0.019230769230769232
HONDA: 	Average sales: 90.73076923076923
HURRICANE: 	Average sales: 0.019230769230769232
HYUNDAI: 	Average sales: 881.1153846153846
HYUNDAI_MOTOR: 	Average sales: 0.019230769230769232
INFINITI: 	Average sales: 3.9038461538461537
INNOCENTI: 	Average sales: 0.019230769230769232
ISO: 	Average sales: 0.019230769230769232
ISUZU: 	Average sales: 0.057692307692307696
JAC: 	Average sales: 0.019230769230769232
JAGUAR: 	Average sales: 22.78846153846154
JAGUAR_CARS_LTD: 	Average sales: 0.15384615384615385
JAGUAR_DAIMLER: 	Average sales: 0.019230769230769232
JAGUAR_LAND_ROVER: 	Average sales: 0.038461538461538464
JAGUAR_LAND_ROVER_LIMIT: 	Average sales: 0.4807692307692308
JAGUAR_LAND_ROVER_LTD: 	Average sales: 0.038461538461538464
JEEP: 	Average sales: 177.15384615384616
JETSTREAM_SC250: 	Average sales: 0.019230769230769232
JIMINI: 	Average sales: 1.3269230769230769
KARMANN-MOBIL: 	Average sales: 0.019230769230769232
KIA: 	Average sales: 923.4230769230769
KIA_MOTOR_(ROK): 	Average sales: 0.07692307692307693
KIA_MOTORS: 	Average sales: 0.07692307692307693
L.M.: 	Average sales: 0.019230769230769232
LADA: 	Average sales: 0.057692307692307696
LAIKA: 	Average sales: 0.019230769230769232
LAIKA_CARAVANS_SPA: 	Average sales: 0.019230769230769232
LAMBORGHINI: 	Average sales: 0.6346153846153846
LANCIA: 	Average sales: 1.4423076923076923
LAND__ROVER: 	Average sales: 0.36538461538461536
LAND_ROVER: 	Average sales: 15.73076923076923
LEXUS: 	Average sales: 145.32692307692307
LEYLAND: 	Average sales: 0.019230769230769232
LINCOLN: 	Average sales: 0.057692307692307696
LOCUST: 	Average sales: 0.019230769230769232
LONDON_TAXIS_INTERNAT.: 	Average sales: 0.038461538461538464
LOTUS: 	Average sales: 0.4230769230769231
LOTUS_CARS_LTD: 	Average sales: 0.038461538461538464
M.G.: 	Average sales: 0.8076923076923077
MAHINDRA: 	Average sales: 0.2692307692307692
MARC_MAÑAS: 	Average sales: 0.019230769230769232
MASERATI: 	Average sales: 5.538461538461538
MAZDA: 	Average sales: 283.0769230769231
MCC: 	Average sales: 0.019230769230769232
MCC_SMART: 	Average sales: 15.596153846153847
MCLAREN: 	Average sales: 0.5576923076923077
MERCEDES-AMG: 	Average sales: 2.5961538461538463
MERCEDES-BENZ: 	Average sales: 1020.0961538461538
MERCURY: 	Average sales: 0.09615384615384616
MEYERS_MANX: 	Average sales: 0.019230769230769232
MG_CAR_COMP: 	Average sales: 0.019230769230769232
MICRO_COMPACT_CAR_SMART: 	Average sales: 0.17307692307692307
MIMSA: 	Average sales: 0.019230769230769232
MINI: 	Average sales: 199.19230769230768
MITSUBISHI: 	Average sales: 108.0576923076923
MK: 	Average sales: 0.019230769230769232
MORGAN: 	Average sales: 0.1346153846153846
MORRIS: 	Average sales: 0.057692307692307696
NETHERLANDS_CAR: 	Average sales: 0.019230769230769232
NISSAN: 	Average sales: 685.75
OLDSMOBILE: 	Average sales: 0.057692307692307696
OLEOPEL: 	Average sales: 0.019230769230769232
OLMEDO: 	Average sales: 0.019230769230769232
OPEL: 	Average sales: 676.1730769230769
PACKARD: 	Average sales: 0.019230769230769232
PEUGEOT: 	Average sales: 1560.9423076923076
PGO: 	Average sales: 0.019230769230769232
PILGRIM: 	Average sales: 0.038461538461538464
PLA: 	Average sales: 0.019230769230769232
PLYMOUTH: 	Average sales: 0.07692307692307693
POESSL: 	Average sales: 0.07692307692307693
PONTIAC: 	Average sales: 0.15384615384615385
PORSCHE: 	Average sales: 50.98076923076923
RAM: 	Average sales: 0.057692307692307696
RENAULT: 	Average sales: 1148.4038461538462
RENAULT_TECH: 	Average sales: 0.5192307692307693
RILEY: 	Average sales: 0.019230769230769232
ROLLS_ROYCE: 	Average sales: 0.5
ROVER: 	Average sales: 0.3269230769230769
SAAB: 	Average sales: 1.5576923076923077
SALVADOR: 	Average sales: 0.019230769230769232
SATURN: 	Average sales: 0.019230769230769232
SCION: 	Average sales: 0.057692307692307696
SEAT: 	Average sales: 1343.6538461538462
SIFTT: 	Average sales: 0.019230769230769232
SIMCA: 	Average sales: 0.038461538461538464
SIN_MARCA: 	Average sales: 0.019230769230769232
SKODA: 	Average sales: 430.0769230769231
SMART: 	Average sales: 15.846153846153847
SOVRA_LM: 	Average sales: 0.019230769230769232
SSANGYONG: 	Average sales: 35.94230769230769
STANDARD_STEELL: 	Average sales: 0.019230769230769232
STUDEBAKER: 	Average sales: 0.019230769230769232
SUBARU: 	Average sales: 33.21153846153846
SUN_LIVING: 	Average sales: 0.019230769230769232
SUZUKI: 	Average sales: 87.9423076923077
T.V.R.: 	Average sales: 0.019230769230769232
TATA: 	Average sales: 0.019230769230769232
TESLA: 	Average sales: 29.78846153846154
TESLA_MOTORS: 	Average sales: 1.6538461538461537
THOROUGHRED: 	Average sales: 0.019230769230769232
TOYOTA: 	Average sales: 1127.5
TRABANT: 	Average sales: 0.019230769230769232
TRIPOD: 	Average sales: 0.15384615384615385
TRIUMPH: 	Average sales: 0.25
TSD: 	Average sales: 0.019230769230769232
VAUXHALL: 	Average sales: 1.8846153846153846
VAZ: 	Average sales: 0.019230769230769232
VOISIN_AUTONACIONAL: 	Average sales: 0.038461538461538464
VOLKNER: 	Average sales: 0.038461538461538464
VOLKSWAGEN: 	Average sales: 1503.9807692307693
VOLKSWAGEN_AG: 	Average sales: 0.6346153846153846
VOLKSWAGEN_V_W: 	Average sales: 18.365384615384617
VOLVO: 	Average sales: 236.40384615384616
VW-PORSCHE: 	Average sales: 0.019230769230769232
WESTFIELD: 	Average sales: 0.09615384615384616
WIESMANN: 	Average sales: 0.019230769230769232
WILLYS_OVERLAND: 	Average sales: 0.019230769230769232
WILLYS_VIASA: 	Average sales: 0.057692307692307696